ports:
  - port: 8080
    protos: [tcp, udp]
    open: true
    china_policy: block_china
    container: ""
china_ip_source: "https://raw.githubusercontent.com/gaoyifan/china-operator-ip/ip-lists/china.txt"
schedule_cron: "0 3 * * *"
